@import url(./base.scss);

.navbar {
    display: flex;
    gap: 1rem;

    padding: 1rem;

    a {
        color: white;
        text-decoration: none;

        transition: all 0.3s ease-in-out;

        padding: 0.5rem 1rem;

        border: 1px solid white;

        border-radius: 5px;

        &:hover {
            color: #1b1b1f;
            background-color: white;
        }

        &.active {
            color: #1b1b1f;
            background-color: white;
        }
    }
}
